.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.card{
    height: 250px;
    width: 100%;
    max-width: 500px;
    background-color: #2b2b2b ;
    display: flex;
    flex-direction:column;
    padding: 40px;
    border-radius: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 10px;
    border-radius: 50%;
    height: 39px;
    width: 39px;
    border: none;

}
input{
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
        font-size: 120%;
}