a{
    text-decoration: none;
}

body {
    background-color: #1a1a1a;
    color: rgb(218, 218, 218);
}

dl{
    font-family: 'Roboto:wght300', sans-serif;
    font-size: 18px;
}

table {
    font-family: 'Roboto Condensed', sans-serif;
    width: 45%;
  }

.main {
    font-family: 'Roboto:wght300', sans-serif;
    font-size: 75px;
}

.mainl {
    font-family: 'Roboto:wght300', sans-serif;
    font-size: 35px;
}
.test{
    font-family: 'Roboto:wght300', sans-serif;
}
.tbl{
    font-family: 'Roboto:wght500', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

div{
    font-family: 'Montserrat', sans-serif;
}

dl {
    font-family: 'Montserrat', sans-serif;
}

.inf {
    font-family: Courier New;
    
}

img.Main{
    width: 114px;
    height: 106px;
    border-radius: 50%;
}

img.button{          
    width: 100px;
    height: 100px;
}

img.button:hover{
    width: 110px;
    height: 110px;
}

a.mail{
    color: aliceblue;
}

a.mail:hover{
    color: aliceblue;
    font-size: 16.5px;
}

a.link{
    color: aliceblue;
    font-family: 'Roboto Slab', serif;

}

a.link:hover{
    color: rgb(199, 199, 199);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

input{
    border-radius: 5px;
    height: 20px;
    width: 175px;
}

.checkbox{
    height: 15px;
    width: 15px;
}

.redbutton{
    width: 100px;
    height: 100px
}

.redbutton:hover{
    width: 105px;
    height: 105px
}

.button {
    background: #b4b4b4;
    color: rgb(0, 0, 0);
    border-style: outset;
    border-color: #5d676d;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
    }

.button:hover {
    background: #c5c5c5;
    color: rgb(0, 0, 0);
    border-style: outset;
    border-color: #4d616d;
    height: 35px;
    width: 105px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
    }