body {
    background-color: #edffda;
}

.main {
    font-family: 'Roboto:wght300', sans-serif;
    font-size: 50px;
}

.mainl {
    font-family: 'Roboto:wght300', sans-serif;
    font-size: 35px;
}


.inf {
    font-family: Courier New;
    
}

img{
    width: 100px;
    height: 100px;
}

img:hover{
    width: 110px;
    height: 110px;
}

a.link:hover{
    color: blue;
    font-size: 18px;
}